body{
    background-color: #def4f0;
}
img{
    height: 100px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #58b4ae;
}
h3{
    color: #58b4ae;
}
